body {
    background: black;
}
* {
	box-sizing: border-box;
}
label {
    color: whitesmoke;
    text-align: center;
}
.jumbotron {
    padding: 5px;
    background: url(../images/colorful-background-30.jpg);
    font-weight: bold;
}
.awesome-btn {
  color: whitesmoke;
  text-emphasis-color: black;
}

h1 {
    text-align: center;
    font-weight: bold;
    /* margin: auto; */
}



.gifDiv {
    float: left;
    margin: 10px;
    
}

.awesome-btn {
    margin: 10px;
}

#add-button {
    margin-top: 10px;
    background: #63379f;
}

#button-input{
  background: #57abea;
}

#button-form {
    padding: 10px;
    
}

#giphy-view {
   
    background: black;
}

.gif-card { 
    
    background: black;
    
     width: 100%;
    
 }

 p {
     color: whitesmoke;
     font-size: 14px;
    
 }

#display-count { 
  background: #e55f7b;
  color: black;
  font-weight: bold;
}