body {
    background: black;
}
* {
	box-sizing: border-box;
}
label {
    color: whitesmoke;
    text-align: center;
}
.jumbotron {
    padding: 5px;
}

h1 {
    text-align: center;
    /* margin: auto; */
}



.gifDiv {
    float: left;
    margin: 10px;
    
}

.awesome-btn {
    margin: 10px;
}

#add-button {
    margin-top: 10px;
}

#button-form {
    padding: 10px;
    
}

#giphy-view {
   
    background: black;
}

.gif-card { 
    
    background: black;
    
     width: 100%;
    
 }

 p {
     color: whitesmoke;
     font-size: 14px;
    
 }