h1 {
    text-align: center;
    margin: auto;
}

#buttons-view {
    margin: 10px;
    padding: 10px;
    background: yellow;
}

.awesome-btn {
    margin: 10px;
}

#button-form {
    padding: 10px;
}

#giphy-view {
    margin: 10px;
   
}
img {
    margin: 20px;
}
.gif-card { 
    
    background: purple;
   
    width: 960px;
   
}